@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");
h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.75rem;
  opacity: .8;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container #nav #btn-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-family: "Epilogue", sans-serif;
}

header .container #nav #btn-mobile #hamburger::after,
header .container #nav #btn-mobile #hamburger::before {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

header .container #nav #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: #0C0C0C;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 99;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

header .container #nav #menu a {
  display: block;
  padding: 0.5rem;
  color: white;
  font-size: 32px;
  margin-bottom: 16px;
}

header .container #nav.active #menu {
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}

header .container #nav.active #hamburger::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .container #nav.active #hamburger::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: -7px;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.75rem;
  opacity: .8;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.75rem;
  opacity: .8;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1246px;
  color: #fff;
}

a {
  color: #fff;
}

.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.btn-action {
  padding: 19px 45px;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFF957;
  color: #0C0C0C;
  text-align: center;
  font-family: "Epilogue", sans-serif;
}

.btn-round {
  height: 45px;
  width: 45px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFF957;
  color: #0C0C0C;
  font-family: "Epilogue", sans-serif;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s ease-in-out 100ms;
  transition: .2s ease-in-out 100ms;
  float: right;
}

.btn-round img {
  margin: auto;
  display: block;
}

.line {
  display: block;
  width: 48px;
  border-top: 1px solid #fff;
  margin-right: 16px;
  margin-bottom: 24px;
}

.hero {
  padding: 5rem 0;
  -webkit-transition-duration: 0.1ms;
          transition-duration: 0.1ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: fade-anime-top 0.8s;
          animation: fade-anime-top 0.8s;
}

.hero p {
  font-size: 16px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .hero .container .left {
    dalign-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .hero .container .left h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  .hero .container .left p {
    text-align: center;
  }
  .hero .container .left .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero .container .right {
  -webkit-animation: fade-anime-top 0.8s ease;
          animation: fade-anime-top 0.8s ease;
}

@media only screen and (max-width: 900px) {
  .hero .container .right {
    display: none;
  }
}

.hero .container .right img {
  width: 100%;
  margin: auto;
  display: block;
  -webkit-transition-duration: 0.1ms;
          transition-duration: 0.1ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: alternating-elevation 3s ease infinite;
          animation: alternating-elevation 3s ease infinite;
}

.hero .container .social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.hero .container .social p {
  margin-bottom: 0;
  font-size: 16px;
  margin-right: 16px;
}

.hero .container .social span {
  display: block;
  width: 30px;
  border-top: 1px solid #fff;
  margin-right: 16px;
}

.hero .container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .container .social ul li {
  margin-right: 16px;
}

.hero .arrow-down {
  -webkit-animation: nome 8s infinite linear;
          animation: nome 8s infinite linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
}

.cursor {
  z-index: 1000;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  /*transform-origin: 80% 80%;
    transition: transform 0.2s ease-in-out;
    animation: borderAnim 03s linear infinite;
    animation-name: none;*/
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.75rem;
  opacity: .8;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1246px;
  color: #fff;
}

a {
  color: #fff;
}

.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.btn-action {
  padding: 19px 45px;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFF957;
  color: #0C0C0C;
  text-align: center;
  font-family: "Epilogue", sans-serif;
}

.btn-round {
  height: 45px;
  width: 45px;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFF957;
  color: #0C0C0C;
  font-family: "Epilogue", sans-serif;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s ease-in-out 100ms;
  transition: .2s ease-in-out 100ms;
  float: right;
}

.btn-round img {
  margin: auto;
  display: block;
}

.line {
  display: block;
  width: 48px;
  border-top: 1px solid #fff;
  margin-right: 16px;
  margin-bottom: 24px;
}

.services {
  padding-top: 5rem;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 900px) {
  .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .container .left p {
    text-align: center;
  }
  .services .container .left h3 {
    text-align: center;
  }
  .services .container .right .cards .card {
    margin-bottom: 30px;
  }
}

.services .container .left p {
  font-size: 16px;
}

.services .container .left img {
  width: 90%;
  display: block;
}

.services .container .right .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .container .card {
  padding: 1.5rem;
  height: 24rem;
  width: 20rem;
  background-color: #0C0C0C;
}

.services .container .card .line {
  border-top: 1px solid #fff;
}

.services .container .card p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

.services .container .right .cards .card:hover {
  background-color: white;
  -webkit-transition: .6s ease-in;
  transition: .6s ease-in;
}

.services .container .right .cards .card:hover .line {
  border-top: 1px solid #0C0C0C;
}

.services .container .right .cards .card:hover h4 {
  color: #0C0C0C;
}

.services .container .right .cards .card:hover p {
  color: #0C0C0C;
  font-weight: 500;
}

.services .container .right .cards .card:hover .btn-round {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.about .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container .right {
  position: relative;
}

.about .container .round-text {
  position: absolute;
  left: -50px;
  top: 300px;
}

.about .container p {
  font-size: 16px;
}

.process {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fff;
}

.process .container {
  color: #0C0C0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process .container p {
  color: #0C0C0C;
  font-size: 16px;
  font-weight: 500;
}

.process .container .left {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.process .container .right .cards .card {
  width: 100%;
  max-width: 615px;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 1rem;
  color: white;
}

.process .container .right .cards .card p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.process .container .right .cards .card.c1 {
  top: 10%;
  background: #0C0C0C;
}

.process .container .right .cards .card.c2 {
  top: 12%;
  background: #121212;
}

.process .container .right .cards .card.c3 {
  top: 14%;
  background: #181818;
}

.process .container .right .cards .card.c4 {
  top: 16%;
  background: #1E1E1E;
}

.testimonies {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.testimonies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0C0C0C;
}

.testimonies .container p {
  color: #0C0C0C;
  font-weight: 500;
}

.testimonies .container .right {
  margin-top: 2.5rem;
}

.testimonies .container .testimonie {
  width: 590px;
  height: 265px;
  padding: 32px 56px;
  background-color: #F7F5F2;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-anime-top {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes fade-anime-top {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes alternating-elevation {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
}

@keyframes alternating-elevation {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
}

@-webkit-keyframes fade-anime-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0px, 50px);
            transform: translate3d(0px, 0px, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes fade-anime-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0px, 50px);
            transform: translate3d(0px, 0px, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes nome {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  6% {
    margin-top: 10px;
    opacity: 1;
  }
  94% {
    margin-top: 10px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nome {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  6% {
    margin-top: 10px;
    opacity: 1;
  }
  94% {
    margin-top: 10px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

[data-anime] {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

[data-anime="fade"] {
  opacity: 1;
}

[data-anime="top"] {
  -webkit-transform: translate3d(0px, -50px, 0px);
          transform: translate3d(0px, -50px, 0px);
}

[data-anime="left"] {
  -webkit-transform: translate3d(-50px, 0px, 0px);
          transform: translate3d(-50px, 0px, 0px);
}

[data-anime="right"] {
  -webkit-transform: translate3d(50px, 0px, 0px);
          transform: translate3d(50px, 0px, 0px);
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

@-webkit-keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

@keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

.splash {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.splash .logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.splash .logo-header .logo {
  color: #161616;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.splash .logo-header .logo.active {
  bottom: 0;
  opacity: 1;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.splash .logo-header .logo.fade {
  bottom: 150px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0C0C0C;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-family: "Epilogue", sans-serif;
}
