@import "breakpoint";

.hero {
  padding: 5rem 0;
  transition-duration: 0.1ms;
  transition-timing-function: ease-out;
  animation: fade-anime-top 0.8s;

  p {
    font-size: 16px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    .left{
      
      @include responsive(phone){
          dalign-items: center;
          justify-content: center;
          text-align: center;
         
          h2{
            text-align: center;
          }
          p{
            text-align: center;
          }
          .social{
            display: flex;
            justify-content: center;
          }
        }
      }
    .right {
      animation: fade-anime-top 0.8s ease;
      @include responsive(phone){
        display: none;
      }
      @include responsive(tab-port){
        display: none;
      }
      img {
        width: 100%;
        margin: auto;
        display: block;
        transition-duration: 0.1ms;
        transition-timing-function: ease-out;
        animation: alternating-elevation 3s ease infinite;
      }
    }
    .social {
      text-align: center;
      display: flex;
      align-items: center;
      margin-top: 32px;
      p {
        margin-bottom: 0;
        font-size: 16px;
        margin-right: 16px;
      }
      span {
        display: block;
        width: 30px;
        border-top: 1px solid $white;
        margin-right: 16px;
      }
      ul {
        display: flex;
        li {
          margin-right: 16px;
        }
      }
    }
  }
  .arrow-down {
    animation: nome 8s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
  }
}
