@import '_utils.scss';

.services{
    padding-top: 2rem;
    .container{
        display: flex;
            
        .left{
            p{
                font-size: 16px;
            }
            img{
                width: 90%;
                display: block;
            }
        }
        .right .cards {
            display: flex;
        }
        .card{
            padding: 1.5rem;
            height: 24rem;
            width: 20rem;
            background-color:$dark;
            
            .line{
                border-top: 1px solid $white; 
            }
            p{
                font-size: 14px;
                font-weight: $regular;
                margin-bottom: 16px;
            }
        }
        .right .cards .card:hover{
            
            .line{
                border-top: 1px solid $dark; 
            }
            background-color: white;
            h4{
                color: $dark;
            }
            p{
                color: $dark;
                font-weight: $medium;
            }
            .btn-round{
                transform: rotate(-35deg)
            }
            transition: .6s ease-in;
        }
        @include responsive(phone and tab-port){
            flex-direction: column;
            
            .left{
                display: flex;
                align-items: center;
                flex-direction: column;
            justify-content: center;
                p{
                    text-align: center;
                }
                h3 {
                    text-align: center;
                }
                img{
                    display: none;
                }
                
            }
            .right .cards {
                flex-direction: column;
                align-items: center;
            }
        }
       
    }
}
